<%- include('header'); -%> 
    <div class="content">
        <h1>Name</h1>
        <h3>Naveen Kumar Jain</h3>
        <br>
        <h1>Address</h1>
        <h3>Dubai, UAE</h3>
        <br>
        <h1>Phone</h1>
        <h3>1234567890</h3>
        <br>
        <h1>Email</h1>
        <h3>nj2002@hw.ac.uk</h3>
        <br>
    </div>
<%- include('footer'); -%>